<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item>
        <ion-label>></ion-label>
        <ion-input type="text" (keypress)="onKeyPress($event)" [(ngModel)]="current"></ion-input>
      </ion-item>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only *ngIf="!state" (click)="login()"><ion-icon name="key"></ion-icon></button>
      <button ion-button icon-only *ngIf="state" (click)="logout()"><ion-icon name="exit"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-split-pane>
  <ion-content padding>
    <ion-list>
      <ion-item class="text" *ngFor="let item of items | async">
        {{item.$value}}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content padding>
    <ion-list>
      <ion-item class="text" *ngFor="let item of items | async">
        {{item.$value}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-split-pane>
