<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only  *ngIf="!state" (click)="login()"><ion-icon name="key"></ion-icon></button>
      <button ion-button icon-only  *ngIf="state" (click)="logout()"><ion-icon name="exit"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>></ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-content>
